@media screen and (max-width:765px) {
    .top-header-container {
        padding-top: 5px;
        .top-header {
            width: 90%; // max-width: 98%;
            .left-content {
                img {
                    width: 60px;
                }
            }
            .right-content {
                .nav-item-text {
                    font-size: 10px;
                }
                .nav-btn .nav-item {
                    width: 28px;
                    height: 1px;
                }
            }
        }
    }
    .content-container {
        width: 90%; // max-width: 100%;
        .left-blog-list-container {
            width: 100%;
        }
        .right-personal-info-container {
            right: 300px;
            display: none;
        }
    }
}